<?xml version="1.0" encoding="UTF-8" ?>
<Items>

<NotificationsV2>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" AlwaysShow="0" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Always show
</Body>
</Entry>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresentEnabled="InputToKey" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Present Enabled InputToKey
</Body>
</Entry>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresentDisabled="InputToKey" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Present Disabled InputToKey
</Body>
</Entry>


<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackNotPresent="Fred" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Not Present Fred
</Body>
</Entry>


<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresent="JKMV2" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Present JMKV2
</Body>
</Entry>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresentDisabled="JKMV2" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Present Disabled JMKV2
</Body>
</Entry>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresentEnabled="JKMV2" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification Present Enabled JMKV2
</Body>
</Entry>


<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="Popup" PointSize="14" ConditionActionPackPresentEnabledOldVersion="InputToKey,2.2.3.4" >
<Body Caption="Odyssey Update" Lang="en">
Test Notification 4 Older InputToKey
</Body>
</Entry>

<Entry StartUTC="2025-02-20T13:00:00Z" EndUTC="2025-03-20T23:00:00Z" Type="New" PointSize="14" AlwaysShow="1" >
<Body Caption="Odyssey Update" Lang="en">
New Notification!
</Body>
</Entry>




</NotificationsV2>
</Items>
